*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align:right;
}
nav ul{
    display: inline-block;
    list-style-type: none; 
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color:#555;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis:50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
    padding: 50px 0;
}
.logoimg{
    width: 125px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.imghover{
    transition:background 0.1s;
}
.imghover:hover{
    background-color: #0000002f;
}
.btn{
    display: inline-block;
    background: #126080;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.1s;
}
.btn:hover{
    background-color: #555;
}
.btn2{
    display: inline-block;
    background: #1a6b0f;
    color: #fff;
    padding: 8px 20px;
    margin: 25px 0;
    border-radius: 3px;
    transition: background 0.1s;
}
.btn2:hover{
    background-color: #5b9953;
}
.header{
    background: #9dc0c9;
}
.categories{
    margin: 130px 0;
}
.col-3{
    flex-basis:15%;
    min width: 250px;
    margin bottom: 30px;
}
.col-3 img{
    width: 70%;
    height: 70%;
}


 


















